<h1><%= @project.name %> Project</h1>
<%= @project.description %><br>
<%= image_tag(@project.photo_url, class: "project-image")  %>

<%= link_to("Edit", edit_user_project_path(@current_user, @project)) %>
