<span id="vote_{{id}}" class="vote-count">0</span>
  {{name}}
  <h3 style="margin:10px 0;" id="name_header">
  <span><button id="{{id}}" type="button" class="right like-name btn btn-default btn-sm">Like</button></span>

</h3>