/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
}

body {
  height: 100%;
}

h5 {
  text-transform: uppercase;
  color: rgba(0,0,0,0.4);
  font-size: 13px;
  letter-spacing: 0.02em;
  line-height: 1.25em;
}

/*  NAV  */
ul.navbar-nav {
  float:none;
}
h4.navbar-text {
  margin-left: 0;
}
.navbar-nav>li,.navbar-nav>li.add-project-btn {
  float:right;
}

.navbar-nav>li p {
  float:left;
  margin-right: 20px;
}

.navbar-nav>li a#nav-user {
  padding-top:8px;
  padding-bottom: 8px;
}
li.dropdown {
  margin-right: 15px;
}

li.dropdown:hover {
  background-color: rgba(0,0,0,0,0.03);
}
.navbar-default .navbar-nav>li>a#add-project-btn {
  color:white;
  padding:5px 10px;
  margin-top: 8px;
}
#add-project-btn:hover {
  background-color: #3071a9;
  border:solid 1px #285e8e;
}

.avatar-header {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  margin-right: 4px;
}

 /*  END NAV  */


#footer {
  margin-top: 40px;
  padding:20px 0;
  height: 100px;
  background-color: rgba(0,0,0,0.04);
  border-top:solid 1px rgba(0,0,0,0.05);
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 0px;
}
.page-wrap:after {
  content: "";
  display: block;
  height: 100px;
}

.right {
  float: right;
}

.left {
  float:left;
}

.btn-sm {
  margin-top:5px;
}

.btn:active {
  box-shadow: none;
}

.btn-info.active {
  background-color: #19A5CF;
  box-shadow: none;
}

.btn-info.active:hover {
  background-color: #0599C5;
  box-shadow: none;
  border:solid 1px #0C8CB2;
}

.label-info {
  padding: 7px 10px;
  font-size: 12px;
  line-height: 1.4;
  font-weight: normal;
  margin: 5px 5px 0 0;
}

.project-header {
  display: inline-block;
}

h1 span {
  font-weight: normal;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border:solid 1px rgba(0,0,0,0.05);
}

@media (max-width: 768px) {

  h4.navbar-text {
    margin-left: 15px;
  }
  .navbar-nav>li,.navbar-nav>li.add-project-btn {
    float:left;
    display: block;
    width: 100%;
    padding:0 15px;
  }

}






