/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
}

body {
  height: 100%;
}

h5 {
  text-transform: uppercase;
  color: rgba(0,0,0,0.4);
  font-size: 13px;
  letter-spacing: 0.02em;
  line-height: 1.25em;
}

/*  NAV  */
ul.navbar-nav {
  float:none;
}
h4.navbar-text {
  margin-left: 0;
}
.navbar-nav>li,.navbar-nav>li.add-project-btn {
  float:right;
}

.navbar-nav>li p {
  float:left;
  margin-right: 20px;
}

.navbar-nav>li a#nav-user {
  padding-top:8px;
  padding-bottom: 8px;
}
li.dropdown {
  margin-right: 15px;
}

li.dropdown:hover {
  background-color: rgba(0,0,0,0,0.03);
}
.navbar-default .navbar-nav>li>a#add-project-btn {
  color:white;
  padding:5px 10px;
  margin-top: 8px;
}
#add-project-btn:hover {
  background-color: #3071a9;
  border:solid 1px #285e8e;
}

.avatar-header {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  margin-right: 4px;
}

 /*  END NAV  */


#footer {
  margin-top: 40px;
  padding:20px 0;
  height: 100px;
  background-color: rgba(0,0,0,0.04);
  border-top:solid 1px rgba(0,0,0,0.05);
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 0px;
}
.page-wrap:after {
  content: "";
  display: block;
  height: 100px;
}

.right {
  float: right;
}

.left {
  float:left;
}

.btn-sm {
  margin-top:5px;
}

.btn:active {
  box-shadow: none;
}

.btn-info.active {
  background-color: #009FCF;
  border:solid 1px #0E91B8;
  box-shadow: none;
}

.btn-info.active:hover {
  background-color: #0297C3;
  box-shadow: none;
  border:solid 1px #0381A6;
}

.label-info {
  padding: 7px 10px;
  font-size: 12px;
  line-height: 1.4;
  font-weight: normal;
  margin: 5px 5px 0 0;
}

.project-header {
  display: inline-block;
}

h1 span {
  font-weight: normal;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border:solid 1px rgba(0,0,0,0.05);
}

button.btn, button.btn.active, .btn.active:focus, .btn:active:focus {
  outline: none;
}

#name_list {
  padding-left:0;
  border-radius: 5px;
  border:solid 1px rgba(0,0,0,0.08);
}

#name_header {
  color:#0297C3;
  margin: 2px 0 3px;
  display:inline;
}

#name_list li {
  padding: 10px;
  list-style-type:none;
  border-top:solid 1px rgba(0,0,0,0.08);
}
#name_list li:first-child, #name_list li:last-child {
  border-top: none;
}

#name_list li.new_name_li{
  padding:0 10px;
}

.newTag {
  margin-right: 5px;
}

#newname {
  width: 70%;
  display: inline-block;
}

.like-name.btn {
  margin-top: -2px;
}

.add-new-name {
  padding: 10px;
  list-style-type: none;
  background-color: rgba(0,0,0,0.03);
}

.vote-count {
  font-weight: bold;
  padding: 7px 8px 5px;
  border-radius: 2px;
  background-color: blue;
  color: white;
  background-color: #5bc0de;
  margin-right: 5px;
}

@media (max-width: 768px) {

  h4.navbar-text {
    margin-left: 15px;
  }
  .navbar-nav>li,.navbar-nav>li.add-project-btn {
    float:left;
    display: block;
    width: 100%;
    padding:0 15px;
  }

}






