
.container-fluid{
  margin-top:100px;
}

.banner{
  background: #fafafa;
  height: 55px;
  text-align: center;
}

.simplenotice{
  padding-top:15px;
  margin-top: -50px;
}

.project-image{
  height: 200px;
  width: 200px;
}

.thumbnail{
  height: 100px;
  width: 200px;
  margin-top: 15px;
}

h3{
  margin-bottom: -18px;
}

.myprojects{
  background-color: lightgrey;
  margin-bottom: 5px;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.modal-backdrop {
    background-color: lightgrey;
}